<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pradeep.rajtrack" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageRequestActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".JsonRequestActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StringRequestActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!--
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab" >
        </activity>
        -->
        <!--
        <activity
            android:name=".CopyTabActivity"
            android:label="@string/title_activity_copy_tab" >
        </activity>
        -->
        <activity
            android:name=".PopulateListView"
            android:label="@string/title_activity_populate_list_view" >
        </activity>
        <activity
            android:name=".DisplayResultDetails"
            android:label="@string/title_activity_display_result_details" >
        </activity>
        <activity
            android:name=".DisplayTimeTableActivity"
            android:label="@string/title_activity_display_time_table" >
        </activity>
        <activity
            android:name=".SvaPaymentActivity"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name=".CopyTabActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
